.pagination {
  display: flex;
}

.paginationList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}

.pageItem:not(:last-child) {
  margin-right: 5px;
}

.selectedPage {
  color: rgb(53, 0, 247);
  border-color: rgb(53, 0, 247);
}